.Quote {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    padding: 5px 15px;
    align-items: center;
    border: 1px #222 solid;
    text-align: center;
    .data {
        width: 50%;
        .title {
            font-size: 20px;
        }
        .price {
            font-size: 18px;
        }
        .variation {
            font-size: 14px;
        }
        .red {
            color: #FF0000;
        }
        .green {
            color: #00FF00;
        }
    }
}
